{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  
  {{- if .Site.Params.shortLists -}}
    <div class="posts short">
      {{ range .Paginator.Pages }}
        <p>>
          <span class="post-short date">
            {{- if .Date -}}
              <time class="post-date-short">
                {{- .Date | time.Format ":date_short" -}}
              </time>
            {{- end -}}
          </span>
          -
          <span class="post-title-short">
            <a href="{{ .Permalink }}">{{ .Title | markdownify}}</a>
          </span>
        </p>
      {{ end }}
    </div>
  {{- else -}}
    <div class="posts">
    {{ range .Paginator.Pages }}
      <article class="post on-list">
        <h2 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h2>
        <div class="post-meta">
          {{- if .Date -}}
            <time class="post-date">
              {{- partial "post-date" . -}}
            </time>
          {{- end -}}
          {{- with .Params.Author -}}
            <span class="post-author">{{- . -}}</span>
          {{- end -}}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ partial "cover.html" . }}

        <div class="post-content">
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Description }}
            <p>{{ .Description | markdownify }}</p>
          {{ else }}
            {{ .Summary }}
          {{ end }}
        </div>

        {{ if not .Params.showFullContent }}
           <div>
            <a class="read-more button inline" href="{{ .RelPermalink }}">[{{ $.Site.Params.ReadMore }}]</a>
          </div>
        {{ end }}
      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
  {{- end -}}
{{ end }}
