:root {
  --short-transition: 0.06s;
}

a {
  transition: 
    background var(--short-transition) ease-out,
    color var(--short-transition) ease-out;
}

.blinking-cursor {
  animation: blink 1.75s step-start infinite;
  content: "â–";
}

@keyframes blink {
  50% {
    opacity: 0%;
  }
}