/* Styles added in the Momiko Terminal fork */

:root {
  --accent-rgb: 209, 170, 255;
  --glow: rgba(var(--accent-rgb), 0.4);
  --scanlines-color: rgba(50, 50, 50, 0.3);
  --short-transition: 0.08s;
}

::selection {
  background: var(--accent);
  color: var(--background);
}

a:hover {
  /* Highlighting */
  background: var(--accent) !important;
  color: var(--background) !important;

  /* Glow */
  -webkit-box-shadow:0px 0px 79px 8px var(--glow);
  -moz-box-shadow: 0px 0px 79px 8px var(--glow);
  box-shadow: 0px 0px 79px 8px var(--glow);
}

html {
  text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.8);
  filter: contrast(1.1) brightness(0.9);
  animation: slight-flicker 1.5s step-start infinite;
}

/* Scanlines effect */
html::before {
  content: "";
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    repeating-linear-gradient(
      transparent, 
      transparent 2px, 
      var(--scanlines-color) 4px, 
      var(--scanlines-color) 5px
    );
  z-index: 100;
  pointer-events: none;
}

a {
  transition: all var(--short-transition) ease-out;
  transition: 
    background var(--short-transition) ease-out,
    color var(--short-transition) ease-out;
}

.blinking-cursor {
  animation: blink 1.75s step-start infinite;
  content: "â–";
}

.prompt::before {
  content: ">";
}

/* Weird hack to not overwrite original code */
.index-content > h1::before {
  content: "> ";
}

.index-content > h1::after {
  animation: blink 1.75s step-start infinite;
  content: "_";
}

.table-of-contents nav {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.table-of-contents.hide nav {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  max-height: fit-content;
  pointer-events: all;
}

@keyframes blink {
  50% {
    opacity: 0%;
  }
}

@keyframes slight-flicker {
  0% {
    opacity: 0.9;
  }
  5% {
    opacity: 0.92;
  }
  10% {
    opacity: 0.94;
  }
  15% {
    opacity: 0.96;
  }
  20% {
    opacity: 0.98;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0.98;
  }
  35% {
    opacity: 0.96;
  }
  40% {
    opacity: 0.94;
  }
  45% {
    opacity: 0.92;
  }
  50% {
    opacity: 0.9;
  }
  55% {
    opacity: 0.92;
  }
  60% {
    opacity: 0.94;
  }
  65% {
    opacity: 0.96;
  }
  70% {
    opacity: 0.98;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0.98;
  }
  85% {
    opacity: 0.96;
  }
  90% {
    opacity: 0.94;
  }
  95% {
    opacity: 0.92;
  }
  100% {
    opacity: 0.9;
  }
}

